Repository roboflow/supervision, pull requests merged in 2023-11, with the labels that each got.

#565 docs: 🚀 hacktoberfest 2023 finished.
  README.md
Labels: documentation

#602 Add PolygonAnnotator and update documentation
  docs/annotators.md
  supervision/__init__.py
  supervision/annotators/core.py
Labels: enhancement, api:annotator

#603 fix: 🐞 gh-pages permission fix for deployment
  .github/workflows/docs.yml
Labels: bug, documentation, github_actions

#605 Add centroid calculation for binary masks
  supervision/__init__.py
  supervision/annotators/core.py
  supervision/annotators/utils.py
  supervision/detection/core.py
  supervision/detection/tools/polygon_zone.py
  supervision/detection/utils.py
  supervision/geometry/core.py
  test/detection/test_core.py
  test/detection/test_utils.py
Labels: enhancement, api:annotator

#606 Feature/make sv.mask annotator as fast as annotators in popular detection frameworks #472
  supervision/annotators/core.py
Labels: enhancement, api:annotator

#612 fixing typo TRACE -> TRACK
  supervision/annotators/core.py
Labels: enhancement

#620 Add 'as_hex' method and corresponding test to `Color` class.
  supervision/draw/color.py
  test/draw/test_color.py
Labels: enhancement, api:annotator
